.jumbotron {
    background: url('https://d2vvqscadf4c1f.cloudfront.net/rGIBmJUAT46UuLPwXo3K_Fedora_Core_Ultimate2.jpg') no-repeat center center;
    height: 350px;
    color: white;
    text-shadow: #444 0 1px 1px;
}



h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}